.ajax-loader {
    display: none;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 100 !important;
    width: 108%;
    height: 100%;
    top: 0;
    left: 0px;
    right: 0;
}

    .ajax-loader img {
        position: fixed;
        top: 45%;
        left: 40%;
    }

h3 a {
    margin: 0 5px;
}

hr {
    margin-top: 0;
    margin-bottom: 20px;
}

.result {
    margin-top: 20px;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding-bottom: 0;
}

.panel-heading {
    padding: 15px 15px;
}

.panel-body {
    padding: 0;
}

[id^=dropdown-detail-] .fa-graduation-cap {
    padding-left: 15px;
}

[id^=detail-] .fa-user {
    padding-left: 25px;
}

.dual-list .list-group {
    margin-top: 8px;
}

.dual-list input {
    height: 34px !important;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.district-selection {
    margin-bottom: 20px;
}

.btn-action {
    margin: 4px 4px 4px 0px;
    position: relative;
    bottom: 8px;
}

.just-padding {
    padding: 0 0 15px 0;
}

.list-group-item > i {
    cursor: pointer;
}

.list-group-item > text {
    cursor: none;
}

    .list-group-item > text:hover {
        text-decoration: none;
    }

.list-group.list-group-root {
    padding: 0;
    overflow: inherit;
    margin-bottom: 42px;
}

    .list-group.list-group-root .list-group {
        margin-bottom: 0;
    }

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        min-height: 45px;
        font-size: 16px;
    }

.subactivated {
    margin-bottom: 1px;
    background-color: #ddd;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: -15px !important;
}

.fa-plus-square-o,
.fa-minus-square-o {
    margin-right: 2px;
}

.empty-icon {
    margin-right: 19px;
}

.edit-btn {
    position: relative;
    bottom: 4px;
    right: 4px;
}

.fa-check {
    padding-right: 2px;
    visibility: hidden;
}

.filteroptions li a {
    height: 29px;
}

.selected-filter {
    background-color: #e6e6e6;
}

    .selected-filter > a > .fa-check {
        visibility: visible;
    }

.filteredby {
    display: none;
}

#selectedDistrict {
    min-width: 70%;
}

.assignBuilding-modal-footer {
    border: 0 !important;
}

/*//////////////////////////////////////
        ///  User Toggle Buttons Starts Here
        //////////////////////////////////////*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle:focus {
        outline: none;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
        margin-bottom: 10px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
        margin-bottom: 10px;
    }

#add-student-user i {
    padding: 0;
}

#user-toggle {
    margin-right: 20px;
}

    #user-toggle .user-toggle-item {
        display: inline-block;
    }

    #user-toggle button:first-child {
        margin-left: 15px;
    }

    #user-toggle .user-toggle-item button:hover {
        -webkit-animation: pulse 1s ease 0s;
        -o-animation: pulse 1s ease 0s;
        -moz-animation: pulse 1s ease 0s;
        animation: pulse 1s ease 0s;
    }

    #user-toggle .user-toggle-item ul {
        display: inline-block;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        position: relative;
        top: 10px;
        padding-right: 12px;
    }

        #user-toggle .user-toggle-item ul li {
            display: inline-block;
            float: left;
            padding-left: 15px;
        }

        #user-toggle .user-toggle-item ul.show-buttons {
            display: inline-block;
            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 1s; /* Firefox < 16 */
            -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
        }

        #user-toggle .user-toggle-item ul.hide-buttons {
            display: none;
        }

#mySettings, #add-system-user, #add-student-user, #reports {
    margin-left: 15px;
}

    #mySettings:hover, #add-system-user:hover, #add-student-user:hover, #reports:hover {
        -webkit-animation: pulse 1s ease 0s;
        -o-animation: pulse 1s ease 0s;
        -moz-animation: pulse 1s ease 0s;
        animation: pulse 1s ease 0s;
    }

    #mySettings i, #add-system-user i, #add-student-user i, #reports i {
        vertical-align: -webkit-baseline-middle;
        padding-left: 0;
    }


@@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.2);
    }

    100% {
        -o-transform: scale(1);
    }
}

@@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
