h2 {
    margin-bottom: 0;
}

h2 a {
    margin: 0 5px;
    font-family: 'PT Sans' sans-serif;
    font-size: 21pt;
    color: #444;
}

h2 small {
    color: #444;
}

hr {
    margin-top: 0;
    margin-bottom: 20px;
}