@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.logOffName {
    font-size: 11px;
}

.btn-info {
    color: #7B7B7B;
    border: 1px solid #7B7B7B !important;
    background-color: #EBEBEB !important;
    border: 1px solid #7B7B7B !important;
    background: -webkit-linear-gradient(#F8F8F8,#E6E6E6);
    background: -moz-linear-gradient(#F8F8F8,#E6E6E6);
    background: -o-linear-gradient(#F8F8F8,#E6E6E6);
    background: linear-gradient(#F8F8F8,#E6E6E6);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    border-color: #7B7B7B;
}

    .btn-info:hover, active {
        color: #22D190;
    }

.control-label {
    position: relative;
    top: 1vh;
}

.vertical-center {
    height: 100%;
    width: 100%;
    text-align: center; /* align the inline(-block) elements horizontally */
    font: 0/0 a; /* remove the gap between inline(-block) elements */
}

    .vertical-center:before { /* create a full-height inline block pseudo=element */
        content: " ";
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        height: 94%;
    }

    .vertical-center > .container {
        max-width: 55%;
        margin-top: 15rem;
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        /* reset the font property */
        font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
        z-index: 1;
    }

.body-content {
    margin-top: 55px;
}

.fadeIntoYou {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.jumbotron {
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url(/Content/Images/IEPBackpackBackgroundImage.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #fff; /*#bababa; */
    color: #484848;
    padding: 8px;
    height: 45px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: auto;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0;
}

    .breadcrumb li a {
        text-decoration: none;
    }

hr {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    border-top: 1px solid #C3C3C3;
    padding-bottom: 15px;
}

.navbar {
    border-bottom: 10px solid #22D190;
    background-color: #ffffff;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        font-size: 0.75rem;
        position: absolute;
        right: 0;
        font-family: sans-serif;
        top: -10px;
    }

.navbar-nav > li > a {
    font-size: 14px;
    color: #444444;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

a.navbar-brand {
    font-family: 'PT Sans', sans-serif;
    color: #444;
    font-size: 16pt;
    letter-spacing: 5px;
    font-weight: 600;
}

.filterListofUsers {
    background-color: #fff;
    color: #444;
    font-weight: bold
}

.userActionBtn {
    background-color: #01D28E !important;
    color: #ffffff !important;
}

.updates {
    position: relative;
    width: 36px;
    font-size: 22px;
    top: 3px;
    line-height: 12px;
}

    .updates .badge {
        font-size: 0.75rem;
        position: absolute;
        right: 0;
        font-family: sans-serif;
        top: -10px;
    }

#basic-addon2 {
    font-family: 'PT Sans', sans-serif;
    color: #444;
}

footer p {
    margin: 0 0 10px;
    font-size: 14px;
    color: #444444;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}

input:-webkit-autofill, input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px rgb(255, 248, 196) inset;
}

/*.needsAttention {
    border-color: #a00000 !important;
    border-width: 1px;
}

.needsAttentionIcon {
    color: #a00000;*/
/*    font-size: 25px;
    top: 2px;
    margin-top: -20px;*/
/*}*/

/*********************************/
/*********************************/
/***         SWITCH            ***/
/*********************************/
/*********************************/

/*********   SWITCHES   **********/
.falsetrueswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.falsetrueswitch-checkbox {
    display: none;
}

.falsetrueswitch-label {
    display: block !important;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 5px;
}

.falsetrueswitch-inner {
    display: block;
    width: 200%;
    margin-left: 0;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .falsetrueswitch-inner:before, .falsetrueswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .falsetrueswitch-inner:after {
        content: "YES";
        padding-right: 10px;
        background-color: #2FCCFF;
        color: #FFFFFF;
        text-align: right;
    }

    .falsetrueswitch-inner:before {
        content: "NO";
        padding-left: 10px;
        background-color: #EEEEEE;
        color: #999999;
    }

.falsetrueswitch-switch {
    display: block;
    width: 18px;
    margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.falsetrueswitch-checkbox:checked + .falsetrueswitch-label .falsetrueswitch-inner {
    margin-left: -100%;
}

.falsetrueswitch-checkbox:checked + .falsetrueswitch-label .falsetrueswitch-switch {
    right: 68px;
}



.truefalseswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.truefalseswitch-checkbox {
    display: none;
}

.truefalseswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 5px;
}

.truefalseswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .truefalseswitch-inner:before, .truefalseswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .truefalseswitch-inner:before {
        content: "NO";
        padding-left: 10px;
        background-color: #EEEEEE;
        color: #999999;
    }

    .truefalseswitch-inner:after {
        content: "YES";
        padding-right: 10px;
        background-color: #2FCCFF;
        color: #FFFFFF;
        text-align: right;
    }

.truefalseswitch-switch {
    display: block;
    width: 18px;
    margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 68px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.truefalseswitch-checkbox:checked + .truefalseswitch-label .truefalseswitch-inner {
    margin-left: 0;
}

.truefalseswitch-checkbox:checked + .truefalseswitch-label .truefalseswitch-switch {
    right: 0px;
}


/*********************************/
/*********************************/
/***         HOME PAGE         ***/
/*********************************/
/*********************************/

.submit-login {
    padding: 0;
}

    .submit-login input {
        width: 100%;
        background-color: #eee;
    }

.create-account {
    text-decoration: underline;
    float: right !important;
    position: relative;
    right: -15px;
    font-size: 9pt;
    font-weight: 600;
}

#iep-header-image {
    position: absolute;
    bottom: 65%;
    width: 90%;
}

    #iep-header-image img {
        margin: 0 auto;
        width: 42%;
        margin-left: 24%;
        margin-bottom: 1%;
    }

#output {
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: inherit;
}

    #output.alert-success {
        background: rgb(25, 204, 25);
        color: #fff;
    }

    #output.alert-danger {
        background: red;
        color: #fff;
    }

/*********************************/
/*********************************/
/***        MISNote PAGE         ***/
/*********************************/
/*********************************/

.ajax-loader, .ajax-filter {
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    z-index: 100;
    width: 108%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

    .ajax-loader img, .ajax-filter img {
        position: fixed;
        top: 45%;
        left: 40%;
    }

.onecomment {
    padding: 10px;
    border: 1px solid lightgray;
    margin: 8px;
}

    .onecomment .message {
        font-size: large;
    }

    .onecomment .author {
        font-size: 11px;
        color: #999;
    }

    .onecomment textarea {
        margin: 10px;
        padding: 10px;
    }

.deleteNote {
    display: inline-block;
    font-size: 16pt;
    position: relative;
    top: -7px;
    left: 2px;
}

    .deleteNote:hover {
        cursor: pointer;
    }

#Message {
    margin: 10px, 0;
}

.user-head img {
    min-width: 85px;
    border: 2px solid #ddd;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding-bottom: 0;
}

.dual-list .list-group {
    margin-top: 8px;
}

.dual-list input {
    height: 34px;
}

.district-selection {
    margin-bottom: 20px;
}

#selectedDistrict {
    min-width: 70%;
}

.assignBuilding-modal-footer {
    border: 0 !important;
}

.panel-title {
    display: inline-block !important;
    color: #444 !important;
    font-weight: 600 !important;
}

h4.panel-title {
    display: inline-block !important;
    color: #666 !important;
}

.btn-filter {
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    font-weight: 600;
}

.form-group label {
    color: #666 !important;
    display: initial;
}

.showFilters {
    padding: 3px 16px;
}

#userRoles {
    display: inline-block;
    margin-bottom: 0;
    color: #222;
    margin-left: 15px;
    width: 100px;
    font-weight: 600;
    padding: 3px;
    background-color: #fff;
}

.StudentActionIcons {
    margin-left: 10px;
}

.viewStudentNotes i {
    margin: 0 2px;
}

.viewStudentNotes:focus {
    outline: none;
}

.popover-content p {
    margin-bottom: 5px;
}

.popover-content textarea {
    margin-top: 10px;
}

.popover-content hr {
    border-top: 1px solid #000;
}

.popover-content textarea::-webkit-input-placeholder {
    color: lightgray;
}

.popover-content textarea::-moz-placeholder {
    color: lightgray;
}

#mySettings, #add-system-user, #add-student-user, #reports, #referrals {
    margin-left: 15px;
}

    #mySettings:hover, #add-system-user:hover, #add-student-user:hover, #reports:hover, #referrals:hover {
        -webkit-animation: pulse 1s ease 0s;
        -o-animation: pulse 1s ease 0s;
        -moz-animation: pulse 1s ease 0s;
        animation: pulse 1s ease 0s;
    }

    #mySettings i, #add-system-user i, #add-student-user i, #reports i, #referrals i {
        vertical-align: -webkit-baseline-middle;
        padding-left: 0;
    }

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.2);
    }

    100% {
        -o-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@media print {
    #Message {
        display: none;
    }

    .alert-warning {
        display: none;
    }

    .notes-save {
        display: none;
    }

    .notes-print {
        display: none;
    }

    .glyphicon-arrow-left {
        display: none;
    }

    .deleteNote {
        display: none;
    }
}

/*********************************/
/*********************************/
/***         Portal PAGE         ***/
/*********************************/
/*********************************/

tbody > tr {
    cursor: pointer;
}

.result {
    margin-top: 20px;
}

.portal-page {
    position: absolute;
    left: 0;
    bottom: 0;
}


.panel-primary > .panel-heading {
    padding: 8px 15px;
/*    background: -webkit-linear-gradient(#F8F8F8,#E6E6E6);
    background: -moz-linear-gradient(#F8F8F8,#E6E6E6);
    background: -o-linear-gradient(#F8F8F8,#E6E6E6);
    background: linear-gradient(#F8F8F8,#E6E6E6);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    border-color: #DDDDDD;*/
}

.list-group-item > i {
    cursor: pointer;
}

.list-group.list-group-root {
    padding: 0;
    overflow: inherit;
}

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        min-height: 45px;
        font-size: 16px;
    }

.panel-primary {
    border-color: #d0d8b8 !important;
}

.panel-title {
    display: inline-block !important;
/*    color: #444 !important;*/
    font-weight: 600 !important
}

h4.panel-title {
    display: inline-block !important;
/*    color: #666 !important;*/
}

.btn-group-primary .dropdown-menu {
    background-color: #214680 !important;
}

    .btn-group-primary .dropdown-menu li > a {
        color: #fff;
        font-size: 12px;
    }

        .btn-group-primary .dropdown-menu li > a:hover,
        .btn-group-primary .dropdown-menu li > a:focus {
            background-color: #214680 !important;
            color: #ffffff;
            text-decoration: underline;
        }

.btn-bordered-warning:focus,
.btn-bordered-warning:hover {
    color: #337ab7;
}



.portal-panel {
    border-color: #000;
    height: 36em;
}

.teacher-table {
    border-bottom: 2px solid black;
}

.user-head .inbox-avatar {
    float: left;
    width: 65px;
    margin-right: 25px;
}

    .user-head .inbox-avatar img {
        border-radius: 45%;
        min-width: 85px;
        min-height: 83px;
        border: 2px solid #ddd;
    }

#searchMyTeachers {
    margin-right: 5px;
}

#search {
    margin-right: 5px;
}

#contact-list-search {
    height: 34px;
}

.c-my-search {
    margin-bottom: 15px;
}

.c-search {
    margin-bottom: 15px;
}

.teacher-search-additional-information {
    display: inline-block;
}

.listrap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .listrap li {
        margin: 0;
        padding: 10px;
        min-height: 80px;
    }

        .listrap li.active, .listrap li:hover {
            background-color: #d9edf7;
        }

    .listrap strong, .listrap div.county-name, .listrap div.school-name {
        margin-left: 10px;
    }

    .listrap .listrap-toggle {
        display: inline-block;
        width: 60px;
        height: 60px;
    }

        .listrap .listrap-toggle span {
            background-color: #428bca;
            opacity: 0.8;
            z-index: 100;
            width: 60px;
            height: 60px;
            display: none;
            /*position: absolute;*/
            position: relative;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
            color: #ffffff;
        }

            .listrap .listrap-toggle span:before {
                font-family: 'Glyphicons Halflings';
                content: "\e013";
            }

    .listrap li.active .listrap-toggle span {
        display: block;
    }

.img-selection-correction {
    position: relative;
    top: -60px;
}

.module-user-name {
    opacity: 0.50;
    margin-top: 15px;
    margin-left: 30px;
    display: inline-block;
}

/*//////////////////////////////////////
///  User Toggle Buttons Starts Here
//////////////////////////////////////*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle:focus {
        outline: none;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
        margin-bottom: 10px;
    }

.btn-action {
    margin: 4px 4px 4px 0;
    position: relative;
    bottom: 8px;
}

#add-student-user i {
    padding: 0;
}

#user-toggle .user-toggle-item {
    display: inline-block;
}

#mySettings, #add-system-user, #add-student-user, #reports, #referrals, #add-referral-user {
    margin-left: 15px;
    background-color: rgb(34, 209, 144) !important;
    border: 0;
}

    #mySettings:hover, #add-system-user:hover, #add-student-user:hover, #reports:hover, #referrals:hover, #add-referral-user:hover {
        -webkit-animation: pulse 1s ease 0s;
        -o-animation: pulse 1s ease 0s;
        -moz-animation: pulse 1s ease 0s;
        animation: pulse 1s ease 0s;
    }

    #mySettings i, #add-system-user i, #add-student-user i, #reports i, #referrals i, #add-referral-user i {
        vertical-align: -webkit-baseline-middle;
        padding-left: 0;
    }


/*********************************/
/*********************************/
/***         Contact PAGE      ***/
/*********************************/
/*********************************/
.contact-form {
    margin-top: 15px;
}

    .contact-form .textarea {
        min-height: 220px;
        resize: none;
    }

.modified {
    opacity: 0.65;
}

.form-control {
    box-shadow: none;
    border-color: #333;
    height: 49px;
}

    .form-control:focus {
        box-shadow: none;
        border-color: #333;
    }

.form-control-feedback {
    line-height: 50px;
}

.main-btn {
    background: #00b09c;
    border-color: #333;
    color: #fff;
}

    .main-btn:hover {
        background: #00a491;
        color: #fff;
    }

.form-control-feedback {
    line-height: 50px;
    top: 0px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}


.standard-font-size {
    font-size: 18px;
}

.dtField /*bring to front when in modal*/ {
    z-index: 99999 !important;
}

.text-success {
    color: #3E8162;
}

.text-danger {
    color: #C9302C;
}

.panel-primary > .panel-heading {
    padding: 8px 15px;
    background: -webkit-linear-gradient(#F5F5F5,#E6E6E6);
    background: -moz-linear-gradient(#F5F5F5,#E6E6E6);
    background: -o-linear-gradient(#F5F5F5,#E6E6E6);
    background: linear-gradient(#F5F5F5,#E6E6E6);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    border-color: #DDDDDD;
}

.panel-primary > .panel-heading {
    padding: 8px 15px;
}

.list-group-item > i {
    cursor: pointer;
}

.list-group.list-group-root {
    padding: 0;
    overflow: inherit;
}

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        min-height: 45px;
        font-size: 16px;
    }

.panel-primary {
    border-color: #d0d8b8 !important;
}

.panel-title {
    display: inline-block !important;
    color: #444 !important;
    font-weight: 600 !important
}

h4.panel-title {
    display: inline-block !important;
    color: #666 !important;
}

.form-group input[type=text]:focus {
    background-color: #FFF8C4;
}

/*//////////////////////////////////////
///  User Toggle Buttons Starts Here
//////////////////////////////////////*/
.notification {
    color: #3C8DE3;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .form-horizontal .control-label {
        text-align: center;
        padding-bottom: 7px;
    }

    .input-group[class*=col-] {
        margin: auto;
    }

    .submit-login {
        float: none;
        margin: 0 auto;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .login-container {
        max-width: 91% !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .input-group-addon {
        display: none;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
