hr {
    border-top: 1px solid #ddd;
}

h3 {
    margin-bottom: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.transition-page {
    position: relative;
}

.student-information {
    text-align: center;
}

.student-details {
    height: 170px;
}

.user-info-block .navigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #428BCA;
    border-top: 1px solid #428BCA;
}

.user-info-block {
    padding-top: 12px;
    padding-bottom: 12px;
}

.user-details .user-info-block {
    width: 100%;
    position: absolute;
    top: 55px;
    background: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 35px;
}

.user-info-block .user-heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
}

.user-info-block .navigation {
    float: left;
    width: 94%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-city {
    font-weight: bold;
    font-size: 13pt;
}

.navigation li {
    margin: 0;
    padding: 0;
}

    .navigation li a {
        float: left;
        font-size: 21px;
        padding: 10px 10px 5px 10px;
    }

.user-info-block .user-body {
    float: left;
    padding: 5%;
    width: inherit;
}

.StudentIEPInfoBar {
    margin-top: 15px;
}

.iepState {
    margin-top: 15px;
}

.tooltip-help, .print-module {
    margin-right: 10px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-top: 3px;
}

.modal-header .close {
    margin-top: 4px;
}

.yesConsentOverlay {
    display: none;
}

.transition-container {
    overflow: hidden;
    margin: 4em auto 5em auto;
}

#IEPBeginDate, #IEPMeetingDate {
    height: 35px;
    max-width: 135px;
    padding-left: 5px;
}

label[for=IEPBeginDate] {
    color: #676767;
}

label[for=IEPMeetingDate] {
    color: #676767;
}

#backtoportal {
    font-size: 20px;
    font-weight: bold;
    background-color: #23D28F;
    color: #666;
    margin-right: 60px;
}

.edit-student h2 {
    margin-bottom: 0;
}

.edit-student h2 {
    margin-top: 0px;
    font-size: 26pt;
}

.noConsentOverlay {
    position: absolute;
    opacity: 0.6;
    background: #fff;
    height: 95%;
    width: 100%;
    z-index: 10;
}

    .noConsentOverlay .container div label {
        font-size: 30px;
        margin-top: 15%;
        color: #000;
    }

        .noConsentOverlay .container div label input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
            margin: 0;
            position: relative;
            bottom: 2px;
        }


.btn-bordered-warning:focus,
.btn-bordered-warning:hover {
    color: #337ab7;
}

#student-goals {
    margin: 40px 0;
}

.widgetDisabled {
    opacity: 0.65;
}

.needsAttention {
    border-color: #a00000 !important;
    border-width: 1px;
}

.needsAttentionIcon {
    color: #a00000;
    font-size: 25px;
    top: 2px;
    margin-top: -20px;
}

dt {
    padding: 8px 0 0 0;
    font-size: 16px;
    display: inline-block;
}

dd {
    display: inline;
}

.alert-danger-iep {
    font-size: 8px;
    padding: 3px 4px;
    vertical-align: top;
    color: #fff;
    background-color: #b94a48;
    border-color: #fff;
}

#parentConsent {
    font-size: 35px;
}

.iep, .iep > .well {
    background-color: #70d699 !important;
}

    .iep > .well label {
        color: #666666;
    }

.filter, .filter > .well .options button {
    border: 1px solid #45906D;
    position: relative;
}

    .filter > .well {
        background-color: transparent;
    }

.otherIep, .legal {
    background: -webkit-linear-gradient(#F8F8F8,#E6E6E6);
    background: -moz-linear-gradient(#F8F8F8,#E6E6E6);
    background: -o-linear-gradient(#F8F8F8,#E6E6E6);
    background: linear-gradient(#F8F8F8,#E6E6E6);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    border: 1px solid #707070;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] .progress {
    margin-bottom: 5px;
    visibility: visible;
}

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    display: inline-block !important;
    padding-left: 50px !important;
    text-indent: 0 !important;
    line-height: 110% !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

    .funkyradio input[type="radio"]:empty ~ label,
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .funkyradio input[type="radio"]:empty ~ label:before,
        .funkyradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
        padding-top: 8px;
    }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .funkyradio input[type="radio"]:checked ~ label:before,
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
        line-height: 2;
        display: inline-block;
        vertical-align: middle;
    }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}


#moduleSection .checkbox label {
    font-size: 16px;
    padding-bottom: 10px;
}

    #moduleSection .checkbox label:after,
    #moduleSection .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

#moduleSection .form-check .checkbox {
    line-height: 25px;
}

#moduleSection .checkbox .cr,
#moduleSection .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    /*float: left;*/
    margin-right: .5em;
}

#moduleSection .radio .cr {
    border-radius: 50%;
}

    #moduleSection .checkbox .cr .cr-icon,
    #moduleSection .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    #moduleSection .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

#moduleSection .checkbox label input[type="checkbox"],
#moduleSection .radio label input[type="radio"] {
    display: none;
}

    #moduleSection .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    #moduleSection .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    #moduleSection .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    #moduleSection .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    #moduleSection .checkbox label input[type="checkbox"]:disabled + .cr,
    #moduleSection .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }



.transition-page-scaleUpCenter {
    -webkit-animation: scaleUpCenter .4s ease-out both;
    animation: scaleUpCenter .4s ease-out both;
}

.transition-page-scaleDownCenter {
    -webkit-animation: scaleDownCenter .4s ease-in both;
    animation: scaleDownCenter .4s ease-in both;
}

.fade-scale {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    .fade-scale.in {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

input[type=date] {
    margin-right: 20px;
}

.date-error {
    height: 35px;
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.formbtn {
    min-width: 85px;
}

.btn-secondary {
    background-color: #ccc;
    color: #4b4f56;
}

    .btn-secondary i {
        color: #4b4f56;
    }

    .btn-secondary:hover {
        color: #fff;
    }

        .btn-secondary:hover i {
            color: #fff;
        }


/**** Vertically Centers the Modal Popup ****/
body.modal-open .modal {
    display: flex !important;
    height: 100%;
}

    body.modal-open .modal .modal-dialog {
        margin: auto;
    }
/**** Ends Modal Popup Vertical Fix ****/

.modal-fullscreen {
    background: transparent;
}

    .modal-fullscreen .modal-content {
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}

    .modal-backdrop.modal-backdrop-fullscreen.in {
        opacity: .97;
        filter: alpha(opacity=97);
    }

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#sortable {
    list-style-type: none;
}

    #sortable li {
        float: left;
        min-width: 255px;
        min-height: 276px;
        margin: 0 20px 20px 0;
        position: relative;
        height: 0;
    }

.hero-widget {
    text-align: center;
    padding-top: 40px;
}

    .hero-widget .icon {
        display: block;
        font-size: 78px;
        line-height: 96px;
        margin-bottom: 10px;
        text-align: center;
    }

        .hero-widget .icon i {
            top: 15px;
        }

    .hero-widget label {
        font-size: 18px;
    }

    .hero-widget .options {
        margin-top: 10px;
    }

.well {
    border: 0;
    bottom: 0;
}

.modal-backdrop {
    background-color: #FFFFFF;
}

.print-media-only {
    display: none;
}

.isHealthConcern.noConcerns {
    display: none;
}

.isMotorConcern.noConcerns {
    display: none;
}

.isCommunicationConcern.noConcerns {
    display: none;
}

.isSocialConcern.noConcerns {
    display: none;
}

.isIntelligenceConcern.noConcerns {
    display: none;
}

.isAcademicPerformanceConcern.noConcerns {
    display: none;
}

.isReadingConcern.noConcerns {
    display: none;
}

.isMathConcern.noConcerns {
    display: none;
}

.isWrittenConcern.noConcerns {
    display: none;
}

.btn-bordered-warning-status {
    color: #337ab7;
    background: #FFFFFF;
    border: 2px solid #337ab7;
    font-weight: bold;
}

    .btn-bordered-warning-status:hover {
        color: #337ab7;
        cursor: default;
    }

#studentPlanBtn, #printStudentInfo, #printIEP, #viewForms {
    font-size: 16px;
    margin: 3px 0 3px 3px;
    color: #529AE6;
    font-weight: bold;  
}

.ajax-loader {
    visibility: visible;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 100 !important;
    width: 108%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .ajax-loader img {
        position: fixed; /* or absolute */
        top: 45%;
        left: 40%;
    }

.completed-loader-hidden {
    visibility: hidden;
}

.completed-loader-visible {
    visibility: visible;
}

.completed-loader {
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    z-index: 100 !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .completed-loader .completed-checkbox label {
        position: fixed;
        top: 28px;
        left: 45%;
        font-size: 110% !important;
        font-weight: bold;
    }

    .completed-loader .completed-label {
        position: relative;
        top: -3px;
        color: green;
    }

#missingIEPDates {
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.55);
}

#modal-studentPlanning {
    background-color: #fff;
}

    #modal-studentPlanning .modal-dialog {
        margin: 0 auto;
    }

    #modal-studentPlanning .modal-title {
        font-size: 30px;
    }

        #modal-studentPlanning .modal-title i {
            font-size: smaller;
        }

#dismissIEPPlan .glyphicon-remove-circle {
    font-size: 30px;
}

#IEPBeginDate.NoDates, #IEPMeetingDate.NoDates {
    border: solid red 2px;
}

.module-completed:before {
    content: "\e013";
    font-family: "Glyphicons Halflings";
    position: absolute;
    font-size: 152pt;
    color: rgba(0,0,0,0.15);
    top: -20px;
    left: 15px;
}

@-webkit-keyframes scaleUpCenter {
    from {
        opacity: 0;
        -webkit-transform: scale(.7);
    }
}

@keyframes scaleUpCenter {
    from {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
}

@-webkit-keyframes scaleDownCenter {
    from {
    }

    to {
        opacity: 0;
        -webkit-transform: scale(.7);
    }
}

@keyframes scaleDownCenter {
    from {
    }

    to {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(2.5, 2.5, 2.5);
        transform: scale3d(2.5, 2.5, 2.5);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(2.5, 2.5, 2.5);
        transform: scale3d(2.5, 2.5, 2.5);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }

    .modal-lg {
        width: 900px;
    }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }

    .col-md-4 {
        width: 32% !important;
    }
}

@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}

@media print {
    html, body {
        height: 99%;
    }

    .transition-page .container .row:not(.print-media-only) {
        visibility: collapse;
    }

    .print-media-only {
        display: block;
        margin-bottom: 10px;
    }

    h2 {
        display: none;
    }

    .close, .tooltip-help {
        display: none;
    }

    .modal,
    .modal * {
        overflow: visible !important;
    }

    .modal {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
    }

    .modal-dialog {
        width: 100% !important;
        margin: 0;
    }

    .modal-backdrop {
        background-color: white;
        opacity: 1 !important;
    }

    .modal-header, .modal-footer {
        border: 0;
    }

    div {
        float: none !important;
        position: static !important;
        display: inline;
        box-sizing: content-box !important;
    }
}
