<div>
    <div class=WordSection1>

        <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;
margin-left:0in;margin-right:8.0pt'>

            <h3 style='margin-right:0in;page-break-after:auto;;border:none;padding:0in;'>
                <span style='font-size:11.0pt;font-family:"Times New Roman",serif'>
                    PRIOR WRITTEN
                    NOTICE<o:p></o:p>
                </span>
            </h3>

            <h3 style='margin-right:0in;page-break-after:auto;;border:none;padding:0in;'>
                <span style='font-size:11.0pt;font-family:"Times New Roman",serif'>for<o:p></o:p></span>
            </h3>

            <p class=MsoHeading7 style='margin-right:0in;;border:none;padding:0in;'>
                <span style='font-size:10.0pt'>TERMINATION OF ALL SPECIAL EDUCATION SERVICES,<o:p></o:p></span>
            </p>

            <p class=MsoHeading7 style='margin-right:0in;;border:none;padding:0in;'>
                <span style='font-size:10.0pt'>RELATED SERVICES, AND SUPPLEMENTARY AIDS AND SERVICES<o:p></o:p></span>
            </p>

            <p class=MsoHeading7 style='margin-right:0in;;border:none;padding:0in;'>
                <span style='font-size:10.0pt'>
                    DUE TO PARENT’S REVOCATION OF CONSENT<span style=''></span><o:p></o:p>
                </span>
            </p>

        </div>

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt'>
            <b style=''><span style='color:black'><o:p>&nbsp;</o:p></span></b>
        </p>

        @Html.Partial("_FamilyInfoPartial")

        <p class=MsoNormal style='margin-right:7.9pt'>
            <span style='font-size:7.0pt;
mso-bidi-font-size:10.0pt;color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt'>
            <span style='color:black'>
                On <u>
                    <span style=''></span>
                </u>,
                you revoked consent, in writing, for all special education services, related
                services and supplementary aids and services for the student named above.<span style=''></span><o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt'>
            <span style='color:black'>
                Under this circumstance, special education regulations
                require the school district to terminate all special education services,
                related services and supplementary aids and services, and to give the parent
                (or legal<span style=''>  </span>educational decision maker)
                written notice of the termination of services before the services are
                terminated.<span style=''>  </span>This document is the written
                notice required by these regulations. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='margin-right:7.9pt'>
            <span style='font-size:6.0pt;mso-bidi-font-size:10.0pt;color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:8.0pt;line-height:12.0pt'>
            <span style='font-size:7.0pt'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt;tab-stops:-2.0in -135.0pt -1.75in'>
            <b style=''>
                <span style='color:black'>
                    1)<span style=''>  </span>A DESCRIPTION OF
                    THE ACTION PROPOSED:<span style=''>  </span><o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;text-indent:.25in;line-height:12.0pt;tab-stops:-2.0in -135.0pt -1.75in'>
            <b style=''>
                <span style='color:black'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt;tab-stops:-2.0in -135.0pt -1.75in'>
            <b style=''>
                <span style='color:black'>
                    On
                    ______________________________________, all special education services, related
                    services and supplementary aids and services specified in the IEP of the <span style=''></span>student named above will cease. <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    2)<span style=''></span>EXPLANATION OF WHY THE ACTION IS PROPOSED:<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''><span style='color:black'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    Consent for all
                    special education services, related services and supplementary aids and
                    services has been revoked.<span style=''>   </span><o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    3)<span style=''></span>OPTIONS CONSIDERED AND WHY THE OPTIONS WERE
                    REJECTED:<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''><span style='color:black'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    No options were
                    considered. This is not a decision of the student’s IEP team.<span style=''></span>This is a unilateral action of the education
                    decision maker for this student, as authorized by special education
                    regulations.<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    4)<span style=''></span>DESCRIPTION OF THE DATA USED AS BASIS FOR THE
                    PROPOSED ACTION <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    (<i style=''>
                        <u>
                            including each evaluation procedure,
                            assessment, record or report used as a basis for the proposed or refused action
                        </u>
                    </i>):<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:-1.0pt;margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    No data was used
                    as the basis for the proposed action.<span style=''>
                    </span>This is not a decision of the student’s IEP team.<span style=''></span>This is a unilateral action of the education
                    decision maker for this student, as authorized by special education
                    regulations.<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <span style='color:black'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''>
                <span style='color:black'>
                    5)<span style=''></span>OTHER FACTORS RELEVANT TO THE PROPOSAL<span style=''></span>(e.g. LRE, harmful effects): <o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-right:-1.0pt;line-height:12.0pt'>
            <b style=''><span style='color:black'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p class=MsoNormal style='margin-left:.25in'>
            <b style=''>
                <span style='color:black'>
                    There are no other factors relevant to the
                    proposed action.<span style=''>  </span>This is not a decision
                    of the student’s IEP team.<span style=''>  </span>This is a
                    unilateral action of the education decision maker for this student, as authorized
                    by special education regulations.
                </span>
            </b>
        </p>

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

        @Html.Partial("_AdditionalInfoPartial")
        @Html.Partial("_ProceduralSafeGuardsPartial")
        @Html.Partial("_DeliveryPartial")

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

    </div>




</div>