<div>
    <div class=WordSection1>

     

        <p class=MsoNormal>
            <b>
                <span style='font-size:14.0pt;font-family:"Cambria",serif;'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:.4pt'>
            <b>
                <span style='font-size:17.0pt;font-family:"Cambria",serif;'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:5.0pt;'>
            <span style='font-size:12.0pt;'>
                To: <input type="text" />
                </span>
        </p>

        <p class=MsoNormal style='margin-top:.6pt'>
            <i style=''>
                <span style='font-size:11.5pt;'><o:p>&nbsp;</o:p></span>
            </i>
        </p>

        <p class=MsoNormal style='margin-left:5.0pt;'>
            <span style='font-size:12.0pt;letter-spacing:-.05pt;'>From: <input type="text" /></span>
        </p>

        <p class=MsoNormal style='margin-top:.6pt'>
            <i style=''>
                <span style='font-size:11.5pt;'><o:p>&nbsp;</o:p></span>
            </i>
        </p>

        <p class=MsoNormal style='margin-left:5.0pt;'>
            <span style='font-size:12.0pt;'>
                Re: <input type="text" />
            </span>
        </p>

        <p class=MsoNormal><span style='font-size:12.0pt;'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-top:.5pt'>
            <span style='font-size:17.5pt;
'><o:p>&nbsp;</o:p></span>
        </p>

        <h1 align=center style='margin-top:0in;margin-right:99.9pt;margin-bottom:0in;
margin-left:111.1pt;margin-bottom:.0001pt;text-align:center'>
            <span style='letter-spacing:-.05pt'>SEARCH</span>TO <span style='letter-spacing:
-.05pt'>FIND</span><span style='letter-spacing:-.1pt'>CHILDREN</span><span style='letter-spacing:-.05pt'></span>IN <span style='letter-spacing:-.05pt'>NEED</span><span style='letter-spacing:-.15pt'></span><span style='letter-spacing:-.05pt'>OF</span><span style='letter-spacing:1.3pt'></span><span style='letter-spacing:-.05pt'>SPECIAL</span><span style='letter-spacing:-.1pt'>EDUCATION</span><span style='font-weight:normal'><o:p></o:p></span>
        </h1>

        <p class=MsoBodyText style='margin-top:12.35pt'>
            The <input type="text" /> is seeking to identify every student from birth through age 21 who lives within the boundaries of <input type="text" /> who has developmental delays or maybe in need of special education. If you have a child or know of a child who you think has development delays or special needs, contact: 
</p>

        <p class=MsoNormal style='margin-top:.6pt'>
            <input type="text" />       
                <span style='font-size:12.0pt;'>at</span>
                <input type="text" />
        </p>

        <p class=MsoNormal>
            <i style=''>
                <span style='font-size:12.0pt;'><o:p>&nbsp;</o:p></span>
            </i>
        </p>

        <p class=MsoBodyText>
            Areas of special education include: birth through age two (infant-toddler), early childhood - disability, developmentally delayed, visual impairments including blindness, hearing impairments including deafness, deaf-blindness, autism, traumatic brain injury, emotional disturbance, specific learning disabilities, intellectual disability, multiple disabilities, orthopedic impairments, other health impairments,speech or language impairments, and gifted.
        </p>

        <p class=MsoNormal style='margin-top:.6pt'>
            <span style='font-size:11.5pt;
'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoBodyText>
            <span style='letter-spacing:-.05pt'>Parents are advised that all special education services are designed to offer the utmost in educational opportunities for each qualifying student,as well as to provide assistance and support in the areas of physical, mental, emotional, and social growth. State and federal laws are followed in providing each student with a free appropriate public education in the least restrictive environment. </span>
        </p>

        <p class=MsoNormal><span style='font-size:12.0pt;'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-left:5.0pt'>
            <span style='font-size:11.0pt;letter-spacing:-.05pt'>Call:</span> <input type="text" />
                   
                <span style='font-size:12.0pt;'>at</span>
                <input type="text" />
        </p>

        <p class=MsoNormal style='margin-top:.6pt'>
            <i style=''>
                <span style='font-size:11.5pt;'><o:p>&nbsp;</o:p></span>
            </i>
        </p>

        <p class=MsoBodyText>
            <span class=GramE>if you have a child or know of a child who may need special education services. </span>
        </p>

        <p class=MsoNormal><span style='font-size:10.0pt;'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal><span style='font-size:10.0pt;'><o:p>&nbsp;</o:p></span></p>

        <p class=MsoNormal style='margin-top:.2pt'>
            <span style='font-size:13.5pt;'><o:p>&nbsp;</o:p></span>
        </p>

      

      
    </div>





</div>
