<div class="module-page">
	<div class=WordSection1>
		<p class='MsoNormal'>
			<span>
				To: <textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span>
			</span>
		</p>
		<p class='MsoNormal'>
			<span>From: <textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span></span>
		</p>
		<p class='MsoNormal'>
			<span>
				Re: <textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span>
			</span>
		</p>
		<div class='MsoNormal text-center'>
			<h1>
				SEARCH TO FIND CHILDREN IN NEED OF SPECIAL EDUCATION
			</h1>
		</div>

		<p class='MsoNormal' style="margin-top:8px">
			<span>The <textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span><span> is seeking to identify every student from birth through age 21 who lives within the boundaries of&nbsp;</span> <textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span> <span>&nbsp;who has developmental delays or maybe in need of special education. If you have a child or know of a child who you think has development delays or special needs, contact:</span></span>
		</p>
		<div>
			<p class='MsoNormal'>
				<textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span>
				<span>&nbsp;at:&nbsp;</span>
				<textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span>
			</p>
		</div>
		<div class="voffset2">
			<p class='MsoNormal'>
				<span>Areas of special education include: birth through age two (infant-toddler), early childhood - disability, developmentally delayed, visual impairments including blindness, hearing impairments including deafness, deaf-blindness, autism, traumatic brain injury, emotional disturbance, specific learning disabilities, intellectual disability, multiple disabilities, orthopedic impairments, other health impairments,speech or language impairments, and gifted.</span>
			</p>
		</div>
		<div class="voffset2">
			<p class='MsoNormal'>
				<span>Parents are advised that all special education services are designed to offer the utmost in educational opportunities for each qualifying student,as well as to provide assistance and support in the areas of physical, mental, emotional, and social growth. State and federal laws are followed in providing each student with a free appropriate public education in the least restrictive environment. </span>
			</p>
		</div>
		<div>
			<p class='MsoNormal'>
				<span>Call:</span> <textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span>
				<span>&nbsp;at:&nbsp;</span>
				<textarea style="width:100px;height:20px"></textarea><span style="display:none" class="input-value"></span>
			</p>

			<p class='MsoNormal' style='margin-top:8px'>
				<span>if you have a child or know of a child who may need special education services. </span>
			</p>
		</div>
	</div>
</div>
