@model GreenBushIEP.Models.StudentGoal

<label class="input-labels standard-font-size">Short Term Benchmark(s)</label>
<div class="StudentGoalBenchmarks">

    @foreach (var benchmark in @Model.benchmarks)
	{
		var ddlText = "";		
		foreach (var evalProc in Model.shortTermBenchmarkMethods.Where(o => o.goalBenchmarkID == benchmark.goalBenchmarkID))
		{
			switch (evalProc.EvaluationProcedureID)
			{
				case 1: { ddlText += "<li>Written Observation</li>"; break; }
				case 2: { ddlText += "<li>Written Performance</li>"; break; }
				case 3: { ddlText += "<li>Oral Performance</li>"; break; }
				case 4: { ddlText += "<li>Criterion-Referenced Test</li>"; break; }
				case 5: { ddlText += "<li>Time Sample</li>"; break; }
				case 6: { ddlText += "<li>Demonstration/Performance</li>"; break; }
				case 7: { ddlText += string.Format("<li>Other: {0}</li>", evalProc.OtherDescription); break; }
			} //end switch			
		}

		//var ta = benchmark.TransitionActivity ? "<li>This is a Transition Activity.</li>" : String.Empty;

        <div class="StudentGoalBenchmark">
            <div class="form-group">
				<span class="standard-font-size">@(benchmark.ObjectiveBenchmark.ToString())</span><br/>	<br/>	
				<label>Method(s)</label><br/>	
                <ul style="padding-left: 35px; font-size: 15px;margin-top:8px">
                    @Html.Raw(ddlText)                    
                </ul>			
            </div>
        </div>
    }
</div>
