@model GreenBushIEP.Models.StudentGoal

<label class="input-labels standard-font-size">Short Term Benchmark(s)</label>
<div class="StudentGoalBenchmarks">
    @foreach (var benchmark in @Model.benchmarks)
    {
        var ddlText = "";
        switch (benchmark.Method)
        {
            case 1: { ddlText = "Written Observation"; break; }
            case 2: { ddlText = "Written Performance"; break; }
            case 3: { ddlText = "Oral Performance"; break; }
            case 4: { ddlText = "Criterion-Referenced Test"; break; }
            case 5: { ddlText = "Time Sample"; break; }
            case 6: { ddlText = "Demonstration/Performance"; break; }
            case 7: { ddlText = "Other"; break; }
        } //end switch

        var ta = benchmark.TransitionActivity ? "<li>This is a Transition Activity.</li>" : String.Empty;

        <div class="StudentGoalBenchmark">
            <div class="form-group">
                <ul style="padding-left: 35px; font-size: 15px;">
                    <li><b>@ddlText</b></li>
                    <li>@(benchmark.ObjectiveBenchmark.ToString())</li>
                    @(Html.Raw(ta))
                </ul>
            </div>
        </div>
    }
</div>
