@model GreenBushIEP.Models.MISNotesViewModel

@{
    ViewBag.Title = "MIS Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="modal-header">
    <a class="glyphicon glyphicon-arrow-left btn btn-info pull-right" data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" id="backtoportal" role="button" title="Cancel action and go back to my current users list"></a>
    <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-folder-open small" aria-hidden="true"></i>&nbsp;@(ViewBag.Title)</h4>
</div>
<div class="container">
    @if (Model.notes.Count > 0)
    {
        foreach (var note in Model.notes)
        {
            <p>@(note.Note)</p>
            <div>@(note.CreatedBy)<small style="font-size:10px;">&ndash;&nbsp;@(note.Create_Date.ToShortDateString())</small></div>
            <hr />
        }
    }
    <br />
    <div class="row">
        @using (Html.BeginForm("SaveMISNote", "Home", FormMethod.Post, new { role = "form", id = "contact-form", @Class = "contact-form" }))
            {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn main-btn pull-right">Save Note</button>
                </div>
            </div>
        }
    </div>
</div>
