
@{
    ViewBag.Title = "MySettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/jquery-ui.min.css")

    <style>
        hr {
            border-top: 1px solid #ddd;
        }

        .transition-page {
            position: relative;
        }

        .widgetDisabled {
            opacity: 0.65;
            cursor: not-allowed;
        }

            .widgetDisabled div div button {
                cursor: not-allowed;
                pointer-events: none;
            }

        .settings, .settings > .well {
            background-color: #B6C391 !important;
        }

            .settings > .well label {
                color: #fff;
            }

            .settings, .settings > .well .options button {
                border: 1px solid #45906D;
            }

        .transition-page-scaleUpCenter {
            -webkit-animation: scaleUpCenter .4s ease-out both;
            animation: scaleUpCenter .4s ease-out both;
        }

        .transition-page-scaleDownCenter {
            -webkit-animation: scaleDownCenter .4s ease-in both;
            animation: scaleDownCenter .4s ease-in both;
        }

        .fade-scale {
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

            .fade-scale.in {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }


        /**** Vertically Centers the Modal Popup ****/
        body.modal-open .modal {
            display: flex !important;
            height: 100%;
        }

            body.modal-open .modal .modal-dialog {
                margin: auto;
            }

        /**** Ends Modal Popup Vertical Fix ****/

        .modal-fullscreen {
            background: transparent;
        }

            .modal-fullscreen .modal-content {
                background: transparent;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .modal-backdrop.modal-backdrop-fullscreen {
            background: #ffffff;
        }

            .modal-backdrop.modal-backdrop-fullscreen.in {
                opacity: .97;
                filter: alpha(opacity=97);
            }

        .modal-fullscreen .modal-dialog {
            margin: 0;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
        }

        #sortable {
            list-style-type: none;
        }

            #sortable li {
                float: left;
                min-width: 255px;
                min-height: 275px;
                margin: 20px 20px 0 0;
            }

        .hero-widget {
            text-align: center;
        }

            .hero-widget .icon {
                display: block;
                font-size: 78px;
                line-height: 96px;
                margin-bottom: 10px;
                text-align: center;
            }

            .hero-widget label {
                font-size: 18px;
            }

            .hero-widget .options {
                margin-top: 10px;
            }

        .well {
            border: 0;
            bottom: 0;
        }

        .ajax-loader {
            visibility: hidden;
            background-color: rgba(255,255,255,0.7);
            position: absolute;
            z-index: 100 !important;
            width: 108%;
            height: 100%;
            top: 0;
            left: 0px;
            right: 0;
        }

            .ajax-loader img {
                position: fixed; /* or absolute */
                top: 45%;
                left: 40%;
            }


        .modal-backdrop {
            background-color: #FFFFFF;
        }

        @@-moz-document url-prefix() {
            fieldset {
                display: table-cell;
            }
        }

        @@-webkit-keyframes scaleUpCenter {
            from {
                opacity: 0;
                -webkit-transform: scale(.7);
            }
        }

        @@keyframes scaleUpCenter {
            from {
                opacity: 0;
                -webkit-transform: scale(.7);
                transform: scale(.7);
            }
        }

        @@-webkit-keyframes scaleDownCenter {
            from {
            }

            to {
                opacity: 0;
                -webkit-transform: scale(.7);
            }
        }

        @@keyframes scaleDownCenter {
            from {
            }

            to {
                opacity: 0;
                -webkit-transform: scale(.7);
                transform: scale(.7);
            }
        }

        @@media (min-width: 768px) {
            .modal-fullscreen .modal-dialog {
                width: 750px;
            }

            .modal-lg {
                width: 900px;
            }
        }

        @@media (min-width: 992px) {
            .modal-fullscreen .modal-dialog {
                width: 970px;
            }

            .col-md-4 {
                width: 32% !important;
            }
        }

        @@media (min-width: 1200px) {
            .modal-fullscreen .modal-dialog {
                width: 1170px;
            }
        }
    </style>
}

<div class="transition-page">
    <h2><i class="fa fa-cogs" aria-hidden="true"></i> My Settings</h2>

    <div class="container" style="overflow:hidden; margin: 0 auto 75px;">
        <div class="row">
            <div class="col-md-12">
                <a role="button" class="btn btn-info" id="backtoportal" data-ftrans="slide reverse" data-ajax="false" href="/Home/MISPortal"><span class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
        </div>

        <div class="row">
            <ul id="sortable" class="ui-sortable col-md-12" style="margin-top: 0;">
                <li class="ui-state-default settings" id="CalendarWidget">

                    <div class="hero-widget well" style="padding-top: 40px;">
                        <div class="icon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Calendar</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="CalendarModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>

                </li>
                <li class="ui-state-default settings" id="ServiceProviderWidget">

                    <div class="hero-widget well" style="padding-top: 40px;">
                        <div class="icon">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </div>
                        <div class="text">
                            <var>&nbsp;</var>
                            <label class="text-muted">Service Providers</label>
                        </div>
                        <div class="options">
                            <button type="button" class="btn btn-default btn-lg module-section" data-view="ServiceProviderModule"><i class="glyphicon glyphicon-search"></i> View</button>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <!-- Modal fullscreen settings Module Section -->
        <div id="moduleSection" class="modal modal-fullscreen fade-scale" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="background-color: #fff;" >
            <div class="modal-dialog" style="margin: 0 auto;" id="module-form-section">

            </div>
        </div>
        <!-- End fullscreen settings Module Section-->

        <div class="ajax-loader">
            <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
        </div>

       

    </div>
</div>

<!-- loading the file even though it's an ajax call -->
<var data-reload="true" data-src="/Scripts/mysettings.js"></var>

@section scripts {
    @Scripts.Render("~/Scripts/mysettings.js")
}
