

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
	@Styles.Render("~/Content/reports.css")
  
}

<div class="transition-page">
    <div class="col-md-2 pull-right">
        <a class="glyphicon glyphicon-arrow-left btn btn-info pull-right" data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" id="backtoportal" role="button" style="margin-top: 25px; margin-bottom:10px;font-size:20px;font-weight:bold;" title="Cancel action and go back to my current users list"> </a>
    </div>
    <hr />

    <ul class="breadcrumb">
        <li><i class="fa fa-file" aria-hidden="true" style="font-size: 30px;"></i>&nbsp;&nbsp;<a data-ajax="false" data-ftrans="slide reverse " href="/Home/Portal" style="font-size: 30px;">Reports</a></li>        
    </ul>

    <div class="container" style="overflow:hidden; margin: 0 auto 75px;">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					<tr>
                        <td><label class="text-muted">Behavior Plan</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnBehaviorPlan" onclick="return window.location.href = '/Reports/BehaviorPlan/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text-muted">Caseloads by Provider</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnCaseLoad" onclick="return window.location.href = '/Reports/ProviderCaseload/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Draft IEPs Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnDraft" onclick="return window.location.href = '/Reports/DraftIEP/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
						<tr>
                        <td><label class="text-muted">ESY Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnESY" onclick="return window.location.href = '/Reports/ESY/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Exceptionality Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnExp" onclick="return window.location.href = '/Reports/ExceptionalityReport/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Excess Cost Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnExcess" onclick="return window.location.href = '/Reports/ExcessCostReport/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">IEPs Coming Due</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnProDates" onclick="return window.location.href = '/Reports/IEPDue/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text-muted">KIDSID Unavailable</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnKIDSID" onclick="return window.location.href = '/Reports/KIDSID/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text-muted">No IEP</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnNoIEP" onclick="return window.location.href = '/Reports/NoIEP/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text-muted">Procedural Dates</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnProDates" onclick="return window.location.href = '/Reports/ProceduralDates/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Procedural Dates: Indicator 11 - 60 Day Tracking Report </label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnStudents" onclick="return window.location.href = '/Reports/ProceduralDatesTracking/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Progress Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnProgress" onclick="return window.location.href = '/Reports/Progress/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Service Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnProDates" onclick="return window.location.href = '/Reports/ServiceReport/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="text-muted">SPED Pro Export</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnProDates" onclick="return window.location.href = '/Home/SpedProReport';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Student Data Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnStudents" onclick="return window.location.href = '/Reports/StudentData/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					<tr>
                        <td><label class="text-muted">Student Information Report</label></td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg printForm" id="btnStudentInfo" onclick="return window.location.href = '/Reports/StudentInfo/Report.aspx';"><i class="fa fa-print"></i> View</button>
                        </td>
                    </tr>
					
                </tbody>
            </table>
            <div class="ajax-loader">
                <img src="~/Content/Images/loading-icon.gif" class="img-responsive" alt="loading content" />
            </div>
        </div>

    </div>

</div>
