@model List<GreenBushIEP.Models.tblVersionLog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .p-xxs {
        margin: 5px !important;
    }

    .p-bottom {
        padding-bottom: 5px !important;
    }
</style>-+

<div class="modal-header">
    <h4 class="modal-title" style="font-size: 30px;">
        <i class="fa fa-file-code-o" aria-hidden="true" style="font-size: smaller; "></i>&nbsp;IEP Backpack Updates
    </h4>
    <h5>
        Version @ViewBag.fileVersion
    </h5>
</div>
<div class="modal-body">
    <ul class="list-group">
        @if (Model != null)
        {
            foreach (var update in Model)
            {
                <li class="list-group-item p-xxs">
                    <p class="list-group-item-text p-bottom">@update.Update_Date</p>
                    <h4 class="list-group-item-heading">@update.UpdateText</h4>
                </li>
            }
        }
    </ul>
</div>
