
@{
    ViewBag.Title = "AdminPortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    @Styles.Render("~/Content/transition.css")
}

<style>
    h3 a {
        margin: 0 5px;
    }

    hr {
        margin-top: 0;
    }

    .breadcrumb {
        margin-top: 20px;
        padding: 3px 0;
        margin-bottom: 0;
        list-style: none;
        background-color: transparent;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<h2>@ViewBag.Title</h2>
<div class="user-head">
    <span class="inbox-avatar" href="javascript:;">
        <img width="64" hieght="60" src="~/Content/Images/districtmanager.jpg">
    </span>
</div>

<div class="container">
    <h3>
        Michael Gruff <small> - my current list of managed teachers</small>
        <a href="#" id="searchMyTeachers" title="Search My Teachers" role="button" data-toggle="tooltip" data-command="toggle-my-search" class="btn btn-info pull-right"><span class="glyphicon glyphicon-search"></span></a>
        <a href="#" id="addExistingTeacher" title="Search Exsisting Teacher List" role="button" data-toggle="modal" data-target="#addExistingTeacherModal" class="btn btn-info pull-right"><span class="fa fa-users"></span></a>
        <a href="#" id="createNewTeacher" title="Create New Teacher" role="button" data-toggle="modal" data-target="#editTeacherModal" class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span></a>
    </h3>
    <ul class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li class="active">Managed Teachers</li>
    </ul>
    <hr>
    <div class="row" style="display: none;">
        <div class="col-md-12">
            <div class="input-group c-my-search">
                <input type="text" class="form-control" id="contact-list-search">
                <span class="input-group-btn">
                    <button id="search_table" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>District</th>
                <th>School</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4356634</td>
                <td>Steven</td>
                <td>Monts</td>
                <td>Sedgwick</td>
                <td>El Paso Elementary</td>
                <td>
                    <button class="btn btn-info" data-title="Archieve" data-toggle="modal" data-target="#deleteTeacher">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#editTeacherModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a role="button" class="btn btn-info" data-ftrans="slide" href="/Home/TeacherStudentsRole">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>3433525</td>
                <td>Jim</td>
                <td>Petro</td>
                <td>Chester</td>
                <td>Bishop Shanahan</td>
                <td>
                    <button class="btn btn-info" data-title="Archieve" data-toggle="modal" data-target="#deleteTeacher">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#editTeacherModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a role="button" class="btn btn-info" data-ftrans="slide" href="/Home/TeacherStudentsRole" >
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>2234512</td>
                <td>Jason</td>
                <td>Schull</td>
                <td>Crawford</td>
                <td>Saint Mary's</td>
                <td>
                    <button class="btn btn-info" data-title="Archieve" data-toggle="modal" data-target="#deleteTeacher">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#editTeacherModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a role="button" class="btn btn-info" data-ftrans="slide" href="/Home/TeacherStudentsRole">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>1123123</td>
                <td>Mary</td>
                <td>Tretor</td>
                <td>Leawood</td>
                <td>Grand Elementary</td>
                <td>
                    <button class="btn btn-info" data-title="Archieve" data-toggle="modal" data-target="#deleteTeacher">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#editTeacherModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a role="button" class="btn btn-info" data-ftrans="slide" href="/Home/TeacherStudentsRole">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>8876785</td>
                <td>Shelby</td>
                <td>Windorff</td>
                <td>Lee Summit</td>
                <td>Kansas City Junior High</td>
                <td>
                    <button class="btn btn-info" data-title="Archieve" data-toggle="modal" data-target="#deleteTeacher">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#editTeacherModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a role="button" class="btn btn-info" data-ftrans="slide" href="/Home/TeacherStudentsRole">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>5546341</td>
                <td>Mike</td>
                <td>Zehr</td>
                <td>Sedgwick</td>
                <td>Derby High School</td>
                <td>
                    <button class="btn btn-info" data-title="Archieve" data-toggle="modal" data-target="#deleteTeacher">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#editTeacherModal">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a role="button" class="btn btn-info" data-ftrans="slide" href="/Home/TeacherStudentsRole">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-sm-12 ">
        <div class="result pull-left"><strong>displaying 1 - 6 of 50</strong></div>
        <ul class="pagination pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>

</div>

<!-- Modal -->
<div class="modal fadeInUp" id="editTeacherModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" style="overflow: hidden;  overflow-y: hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Teacher Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <img src="~/Content/Images/newUser.png" alt="" title="" class="img-circle pull-left" style="background-color: #333" height="100" />
                            <div class="input-group">
                                <span class="btn btn-default btn-file" style="top: 30px; left: 15px;">
                                    Browse <input type="file" name="student-image" id="student-image" accept="image/gif, image/jpeg, image/png">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input id="firstname" name="firstname" class="form-control" placeholder="Legal First Name" type="text" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input id="lastname" name="lastname" class="form-control" placeholder="Legal Last Name" type="text" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>
                            <select id="teacherDistrict" name="teacherDistrict" class="form-control" required="required">
                                <option>Anderson</option>
                                <option>Cherokee</option>
                                <option>Crawford</option>
                                <option>Harvey</option>
                                <option>Jewell</option>
                                <option>Labette</option>
                                <option>Montgomery</option>
                                <option>Sumner</option>
                                <option>Wilson</option>
                                <option>Woodson</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </span>
                        <input id="lastname" name="lastname" class="form-control" placeholder="school name" type="text" required="required">
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding: 0 20px 20px;">
                <button type="button" class="btn btn-info btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end modal -->
<!-- Modal -->
<div class="modal fadeInUp" id="deleteTeacher" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this Student</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span> Do you want to remove this teacher from your list?<br /><br />
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end modal -->
<!-- Modal -->
<div class="modal fadeInUp" id="addExistingTeacherModal" tabindex="-1" role="dialog" aria-labelledby="addExistingTeacherModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel"><strong>Avaliable Teachers</strong> - select a teacher and add them to your list</h4>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 100%;">
                    <div class="row">
                        <a href="#searchGreenBushTeachers" id="searchGreenBushTeachers" data-command="toggle-greenbush-search" data-toggle="tooltip" title="Search Greenbush Teachers" role="button" class="hide-greenbush-search btn btn-info pull-right"><span class="glyphicon glyphicon-search"></span></a>
                        <div class="row" style="display: none;">
                            <div class="col-md-6">
                                <div class="input-group c-greenbush-search">
                                    <label for="county" style="padding-right: 8px; display: inline;">District</label>
                                    <select id="county" style="height: 34px; width: 175px;">
                                        <option>Chester</option>
                                        <option selected="selected">Crawford</option>
                                        <option>Cupertino</option>
                                        <option>Leawood</option>
                                        <option>Sedgwick</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group c-search">
                                    <label for="searchTeacher" style="display: table-cell; width: 58px;">Search</label>
                                    <input id="searchTeacher" type="text" class="form-control" style="height: 34px;">
                                    <span class="input-group-btn">
                                        <button id="search_muted" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="overflow: auto; max-height: 400px;">
                        <ul class="listrap">
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher1.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Miss Peggy Jones</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Riverbank High</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher2.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Mrs. Lisa Strongarm</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Mckenderick High</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher3.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Mr. John Henderson</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Crosswell Secondary</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher4.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Mrs. Mary Jefferson</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Eppingswood High</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher5.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Mr. Miles Smith</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Eppingswood High</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher6.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Miss. Susan Arnold</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Eppingswood High</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher7.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Mrs. Peggy Hill</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Eppingswood High</div>
                                </div>
                            </li>
                            <li>
                                <div class="listrap-toggle pull-left">
                                    <span></span>
                                    <img src="~/Content/Images/teacher8.jpg" class="img-circle pull-left" />
                                </div>
                                <div class="teacher-search-addtional-information">
                                    <strong>Mr. Mark Zukenberg</strong>
                                    <div class="county-name">Crawford</div>
                                    <div class="school-name">Nottical High</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Modal-->

@section scripts {
    @Scripts.Render("~/Scripts/adminportal.js")
    @Scripts.Render("~/Scripts/fasw.transitions.min.js")
}

