@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorString = ViewBag.Error;
}


<h1>Error</h1>
<p>We encountered an unexpected error. Please report the error to customer support.</p>
<p>@errorString</p>